.reason_form_popup {
    padding: 30px;

    label {
        font-size: 16px;
        line-height: 1.67;
        color: #2e3d4e;
    }

    textarea {
        border: none;
        position: relative;
        font-weight: 400;
        z-index: 1;
        font-size: 14px;
        color: #637282;
        padding-right: 40px;
        box-shadow: 0 2px 4px 0 rgba(213, 213, 214, 0.8);

        &.form-control:focus {
            box-shadow:  0 2px 4px 0 rgba(213, 213, 214, 0.8);;
        }
    }
}