<!DOCTYPE html>
<html lang="en">
<head>
    <title>Pixlcoders</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{>header_assets select2=true}}
</head>
<body class="dashboard_pg job_info_pg">
{{>header}}
<section class="common_main_sec">
    {{>common_hero_sec}}
    <div class="container">
        {{>tab_links active_page='published'}}
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="common_form_sec">
                    <div class="cards_wrap">
                        <div class="job_list_wrap">
                            {{>client/job_card_row data=data.result}}
                            <input type="hidden" class="js_status" value="published">
                        </div>
                        <div class="bottom_cta_wrap">
                            <a class="cta_load_more_link js_load_more_job {{#ifCond data.result '>' '1'}}
                            {{else}}hide{{/ifCond}}">
                                Show more
                                <img src="/img/icons/arrow-down.svg" class="fa" alt="">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{>footer select2=true}}
</body>
<script type="application/javascript">
    $(function() {
        JobsHandler.init();
    });
</script>
</html>
