<form class="reason_form_popup jsReasonForm">
    <div class="form-group">
        <label>Reason</label>
        <textarea class="form-control js_reason" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn_blue">Submit</button>
</form>